<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| User details
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
<div class="row">

    <div class="col-md-6">
        <ul class="project-detail">
            <li>
                <strong>Roles</strong>
                {% for role in user.roles %}
                    <span class="badge badge-pill badge-primary">{{ role|e }}</span>
                {% endfor %}
            </li>
            <li>
                <strong>Username</strong>
                <span>{{ user.username|e }}</span>
            </li>

            <li>
                <strong>Email</strong>
                <span>{{ user.email|e }}</span>
            </li>

            <li>
                <strong>Share</strong>
                <div class="social social-sm social-gray social-inline mt-2">
                    <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
                    <a class="social-dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-md-6 mb-6 mb-md-0">
        <img src="https://i.pravatar.cc/300?img={{ user.id|e > 70 ? 1:user.id|e }}" alt="project image">
    </div>
</div>
