<!-- Header -->
{% if template_part == 'admin_users' %}
<header class="header">
    <div class="container">
        <h1 class="display-4">Users Overview</h1>
        <p class="lead-2 mt-6">Here you can <span class="text-primary"
                                                  data-typing="create, update, add, delete, manage"
                                                  data-loop="false" data-back-delay="2000"
                                                  data-back-speed="100"></span> our super galactic Taxi drivers!
        </p>
    </div>
</header>
{% elseif template_part == 'admin_user' %}
<header class="header">
    <div class="container">
        <h1 class="display-4">{{ user.firstName ~ ' ' ~ user.lastName|e }}</h1>
    </div>
</header>
{% elseif template_part == 'admin_user_new' %}
<header class="header">
    <div class="container">
        <h1 class="display-4">Add New User</h1>
    </div>
</header>
{% endif %}
<!-- /.header -->
