<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>{% block page_title %}RICH ID - Intergalactic Taxi Services{% endblock %}</title>

    <!-- Styles -->
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{ asset('build/images/apple-touch-icon.png') }}">
    <link rel="icon" href="{{ asset('build/images/favicon.png') }}">
</head>

{% block body %}
    {% block body_tag %}<body data-spy="scroll" data-target=".nav-navbar" data-offset="100">{% endblock %}

    {# Navbar #}
    {% include 'sections/navbar.html.twig' %}

    {# Page content here #}
    {% block page_content %}{% endblock %}

    {# Footer #}
    {% include 'sections/footer.html.twig' %}

    <!-- Scripts -->
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
{% endblock %}

</html>
